*{
    margin: 0;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    padding: 2px;
    width:150px ;
}
button{
    /* width: 100px; */
    /* margin-left: 50%; */
}
.form-element{
    display: flex;
    gap: 1em;
}
a{
    color:white;
    text-decoration: none;
}
.buttons{
    display: flex;
    /* background-color: black; */
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}